<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class= "app-main">
  <h1>
    {{ title }}!
  </h1>
</div>

<score-component></score-component>

<div class = "app-pokemon-captured">
  <h2>{{captured}}</h2>
</div>

<div class = "app-pokemon-silhouete">
  <img [src] = "pokeSrc" alt="image">
</div>

<div class = "app-gameWord">
  <ul>
    <li *ngFor = "let char of gameWord" (click) = "myClick(char)">
      {{char}}
    </li>
  </ul>
</div>
<br>

<words-component></words-component>

<div class = "app-restart" *ngIf ="restart == true">
  <h3>{{restartMsg}}</h3>
  <br>
  <button mat-button (click) = "restartGame()">Restart</button>
</div>
